html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  display: list-item;
}

.header {
  background-color: #F9448A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem; 
  position: fixed;
}

.header-container {
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4rem
}

.link ul li {
    float: left;
    padding: 33px 20px;
}

.link ul li a{
  text-decoration: none;
}

.footer {
  padding: 0 80px;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #fff;
  color: #000;
}

.flex-list {
  display: flex;
}

.flex-list li {
  flex: auto;
}

.logo1 {
  width: 6rem;
}

.footer-container1 p {
  font-size: 14px;
  padding-bottom: 10px;
}

.footer-list {
  text-align: center;
}

.footer-list h3 {
  font-size: 18px;
  padding-bottom: 8px;
}

.footer-list li {
  font-size: 14px;
  padding-bottom: 8px;
}

.sosmed {
  text-align:center;
}
.sosmed h3 {
  font-size: 18px;
}

.sosmed img {
  padding: 5px;
}

footer {
  background-color: #000;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 10px;
}
