/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  display: list-item;
}

/* Write your code below */
.header {
  background-color: #F9448A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem; 
  position: fixed;
}

.header-container {
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4rem
}

.link ul li {
    float: left;
    padding: 33px 20px;
}

.link ul li a{
  text-decoration: none;
}
.banner {
  padding: 100px 80px;
}

.banner h1 {
  font-size: 140px
}
.banner h1 span {
 color: #ff4a4a;
}
.banner h2 {
  font-size: 60px;
}

.lessons {
  height: 500px;
  margin-top: 100px;
}

.lesson-header {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.lesson-item {
  float: left;
  margin-right: 40px;
}

.lesson-item p {
  font-size: 24px;
  margin-top: 30px;
}