/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  display: list-item;
}

/* Write your code below */
.header {
  background-color: #F9448A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem; 
  position: fixed;
  z-index: 10;
}

.header-container {
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4rem
}

.link ul li {
    float: left;
    padding: 2rem 1.25rem;
}

.link ul li a{
  color: #fff;
  text-decoration: none;
}

.banner {
    background-image: url("../Assets/background 1.png");
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.banner h1 {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    top: 35rem;
    position: absolute;
}

.banner h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 80px;
    top: 40rem;
    position: absolute;
    width: 100%;
}

.lessons {
    background-color: #F9448A
}

.lesson-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
}

.lesson-header h3 {
    font-size: 35px;
    text-align: center;
    color: white;
}

.lesson-header p {
   text-align: center;
   color: white;
}

.section-one {
    background-color: white;
}

.section-one h2 {
    color: black;
    padding-top: 27px;
    font-size: 35px;
    text-align: center;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width:100%
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60rem;
}

.lesson-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gambar2 {
  width: 9rem;
}

.lesson-item div {
  height: 10rem;

}


.contact-wrapper{
  background-image: url("../Assets/top-view-photo-of-people-near-wooden-table-3183150 1.png");
  background-size: cover;
  width : 100%;
  overflow: hidden;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-attachment: fixed;
}

.contact-container{
  display: flex;
  align-items :center;
  justify-content: space-evenly;
  width : 100rem;
}

.contact-info {
  padding-left: 20px;
}

.contact-message{
  font-size : 28px;
  text-decoration: underline;
  text-align: center;
  width : 30rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.contact-form form div{
  display: flex;
  flex-direction: column;
}

input {
  width : 25rem;
  margin-top : 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-size : 18px;
  border: 1px solid #dee7ec;
}

textarea {
  width : 25rem;
  margin-top : 10px;
  margin-bottom: 30px;
  padding: 10px;
  font-size : 18px;
  border: 1px solid #dee7ec;
}

.section-title {
  font-size : 35px;
  width : 21rem
}


button {
  background-color: transparent;
  border: none;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}



.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color:#F9448A;
  cursor: pointer;
  box-shadow: 0 7px #B80056;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 1rem;
  width: 12rem;
}

/* footer */
.footer {
  background-color: #fff;
  color: #000;
  border-top: 2px solid #dee7ec;
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 60rem;
}

.flex-list li {
  flex: auto;
}

.logo1 {
  width: 6rem;
}

.footer-container1 p {
  font-size: 14px;
  padding-bottom: 10px;
}

.footer-list {
  text-align: center;
}

.footer-list h3 {
  font-size: 18px;
  padding-bottom: 8px;
}

.footer-list li {
  font-size: 14px;
  padding-bottom: 8px;
}

.sosmed {
  text-align:center;
}
.sosmed h3 {
  font-size: 18px;
}

.sosmed img {
  padding: 5px;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-bottom img {
  float: left;
  size: 10px;
  padding-right: 3px;
}
.footer-bottom h3{
  float: right;
  font-size: 10px;
  padding-top: 3px;
}

@media only screen and (max-width: 1060px) {
  .banner {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner h1 {
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    top: 25rem;
    position: absolute;
  }

  .banner h2 {
      text-align: center;
      color: #FFFFFF;
      font-size: 60px;
      top: 30rem;
      position: absolute;
      width: 100%;
  }
}



@media only screen and (max-width: 776px) {
  .banner {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner h1 {
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    top: 20rem;
    position: absolute;
  }

  .banner h2 {
      text-align: center;
      color: #FFFFFF;
      font-size: 40px;
      top: 23rem;
      position: absolute;
      width: 100%;
  }

  .lesson-header {
    height: 15rem;
}


  .section-one h2 {
    color: black;
    font-size: 30px;
    text-align: center;
  }

  .section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width:100%
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
  }

    .lesson-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    }

  .contact-container{
    display: flex;
    align-items :center;
    justify-content: center;
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 1.5rem;
  }

  .contact-h2 {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .flex-list {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
  }

  .flex-list li {
    margin-bottom: 1rem;
    text-align: center;
  }
}





@media only screen and (max-width: 417px) {
  .banner {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner h1 {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    top: 20rem;
    position: absolute;
  }

  .banner h2 {
      text-align: center;
      color: #FFFFFF;
      font-size: 30px;
      top: 23rem;
      position: absolute;
      width: 100%;
  }

  .contact-container{
    display: flex;
    align-items :center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
  }

  .contact-info {
    margin-bottom: 1rem;
    width: 20rem;
    text-align: center;
  }
  .contact-info p {
    font-size: 1.25rem;
    width: 100%;
  }


  .contact-form h2 {
    margin-bottom: 1rem;
  }

  .contact-form form {
    width: 18rem;
  }

  input {
    width : 100%;
    font-size : 18px;
    border: 1px solid #dee7ec;
  }

  textarea {
    width : 100%;
    font-size : 18px;
    border: 1px solid #dee7ec;
  }

  .flex-list {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
  }

  .flex-list li{
    margin-bottom: 2rem;
    text-align: center;
  }
}


