/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  display: list-item;
}

/* Write your code below */
.header {
  background-color: #F9448A;
    color: #fff;
    height: 90px;
}

.logo {
  float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.link ul li {
    float: right;
    padding: 33px 20px;
}

.top {

}

.banner {
    background-image: url(file:///Users/chiarasyahdimar/Downloads/background%201.png);
    height: 650px
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 400px;
    padding-left: 600px
    padding-right: 600px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 80px;
    padding-left: 600px
    padding-right: 600px;
}

.lessons {
    background-color: #F9448A
}

.lesson-header h3 {
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-right: 320px;
    padding-left: 318px;
    padding-bottom: 15px;
}

.lesson-header p {
   text-align: center;
   color: white;
   padding-right: 500px;
   padding-left: 450px;
   padding-bottom: 30px;
}

.section-one {
    background-color: white;
}

.section-one h2 {
    color: black;
    padding-top: 27px;
    font-size: 35px;
    text-align: center;
    padding-right: 264px;
    padding-left: 270px;
}

.lesson-item {
    float: left;
    text-align: center;
    padding: 30px;
}

.section-two {
    margin-right: 250px;
    margin-left: 350px;
}

